@{
    ViewBag.Title = "Đăng nhập";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - Login</title>
    @Styles.Render("~/Content/bundle")
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row login-form">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Xin chào!</h1>
                                    </div>
                                    @Html.AntiForgeryToken()
                                    @using (Html.BeginForm("Login", "login", FormMethod.Post, new { @class = "user" }))
                                    {
                                        <div class="form-group">
                                            <input name="MaNhanVien" type="text" class="form-control form-control-user" id="exampleInputMaNV" aria-describedby="emailHelp" placeholder="Nhập mã nhân viên...">
                                        </div>
                                        <div class="form-group">
                                            <input name="MatKhau" type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Mật khẩu">
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block"> Đăng nhập </button>
                                        <span class="text-danger"> @ViewBag.err</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    @Scripts.Render("~/Script/bundle")
</body>

</html>