<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Admin")">
        <div class="sidebar-brand-icon rotate-n-15">
                <i>{DH}</i>
            </div>
            <div class="sidebar-brand-text mx-3">HR Manager</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index","Admin")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Tổng quan</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Interface
    </div>

    <!-- Nav Item - Nhan vien -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","QuanLyUser")">
            <i class="fas fa-fw fa-user"></i>
            <span>Nhân viên</span>
        </a>
    </li>

    <!-- Nav Item - Phong ban -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index", "QuanLyPhongBan")">
            <i class="fas fa-fw fa-sitemap"></i>
            <span>Phòng ban</span>
        </a>
    </li>

    <!-- Nav Item - Luong nhan vien -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","QuanLyLuong")">
            <i class="fas fa-fw fa-money-bill"></i>
            <span>Lương nhân viên</span>
        </a>
    </li>

    <!-- Nav Item - Khen thưởng -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","KhenThuong")">
            <i class="fas fa-fw fa-money-bill"></i>
            <span>Khen thưởng</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block" />

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
