@{
    ViewBag.Title = "Admin";
}

@using QuanLyNhanSu.Models
@{
    QuanLyNhanSuEntities db = new QuanLyNhanSuEntities();
}
<!-- Navigation -->

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="">
            <div class="">
                <h1 class="page-header">
                    Tổng quan hệ thống quản lý
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i> Tổng quan
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <!-- nhan vien-->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <i class="fas fa-user fa-3x text-gray-300"></i>
                            </div>
                            <div class="col-auto">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tổng số nhân viên</div>
                                @{
                                    var count = db.NhanViens.Where(n => n.TrangThai == true).ToList().Count - 1;
                                }
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@count</div>
                            </div>
                        </div>
                        <br />  
                        <div class="row no-gutters align-items-center">
                            <div class="col-sm-12">
                                <a href="@Url.Action("index","QuanLyUser")">
                                    <span>Xem chi tiết</span>
                                    <span class="fa fa-arrow-circle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Tong luong -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <i class="fas fa-money-bill fa-3x text-gray-300"></i>
                            </div>
                            <div class="col-auto">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tổng số bảng lương</div>
                                @{
                                    var luong = db.Luongs.ToList();
                                    double tong = 0;
                                    foreach (var item in luong)
                                    {
                                        double tienthue = 0, phucap = 0, luongcb = 0, xh = 0, yt = 0, tn = 0;

                                        item.HeSoLuong = item.HeSoLuong == null ? 0 : item.HeSoLuong;
                                        luongcb = item.LuongToiThieu * (double)item.HeSoLuong;

                                        item.BHXH = item.BHXH == null ? 0 : item.BHXH;
                                        xh = (double)item.BHXH * item.LuongToiThieu / 100;

                                        item.BHYT = item.BHYT == null ? 0 : item.BHYT;
                                        yt = (double)item.BHYT * item.LuongToiThieu / 100;

                                        item.BHTN = item.BHTN == null ? 0 : item.BHTN;
                                        tn = (double)item.BHTN * item.LuongToiThieu / 100;


                                        item.PhuCap = item.PhuCap == null ? 0 : item.PhuCap;
                                        phucap = item.LuongToiThieu * (double)item.PhuCap;

                                        item.ThueThuNhap = item.ThueThuNhap == null ? 0 : item.ThueThuNhap;
                                        tienthue = item.LuongToiThieu * (int)item.ThueThuNhap / 100;

                                        tong = tong + (double)luongcb - (double)(xh + yt + tn) - (double)tienthue + (double)phucap;

                                    }

                                }
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@luong.Count</div>
                            </div>
                        </div>
                        <br />
                        <div class="row no-gutters align-items-center">
                            <div class="col-sm-12">
                                <a href="@Url.Action("index","QuanLyLuong")">
                                    <span>Tạm tính: @string.Format("{0:#,#}", @tong).Replace(",", ",") vnđ</span>
                                    <span class="fa fa-arrow-circle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--so phong ban-->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <i class="fas fa-sitemap fa-3x text-gray-300"></i>
                            </div>
                            <div class="col-auto">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Tổng số phòng ban</div>
                                @{
                                    var countPb = db.PhongBans.ToList().Count;
                                }
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@countPb</div>
                            </div>
                        </div>
                        <br />
                        <div class="row no-gutters align-items-center">
                            <div class="col-sm-12">
                                <a href="@Url.Action("index","QuanLyPhongBan")">
                                    <span>Xem phòng ban</span>
                                    <span class="fa fa-arrow-circle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--tuoi  trung binh nhan vien -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <i class="fas fa-money-bill fa-3x text-gray-300"></i>
                            </div>
                            <div class="col-auto">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Khen thưởng</div>
                                @{
                                    var khen = db.KhenThuongs.ToList().Count();
                                }
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@khen</div>
                            </div>
                        </div>
                        <br />
                        <div class="row no-gutters align-items-center">
                            <div class="col-sm-12">
                                <a href="@Url.Action("index","KhenThuong")">
                                    <span>Chi tiết</span>
                                    <span class="fa fa-arrow-circle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
